#logo{
border-style:solid;
border-width:5px;
background: #000000;
box-shadow: 10px 10px 5px #888888;
border-radius:25px;
}

#nativeTitle{
margin-left:10px;
}

#appDroid{
border-style:solid;
border-width:5px;
box-shadow: 10px 10px 5px #888888;
border-radius:25px;
}

#jsonTitle{
margin-left:10px;
}

#apiBtn{
margin-top: 20px;
margin-bottom: 20px;
border-style:solid;
border-width:5px;
box-shadow: 10px 10px 5px #888888;
border-radius:25px;
}

button:hover{
    background-color:#FF0000;
}

button{
margin-left:10px;
margin-bottom: 20px;
width:70px;
height:70px;
box-shadow: 10px 10px 5px #888888;
}



#rdTitle{
margin-left:10px;
}

#researchDis{
border-style:solid;
border-width:5px;
box-shadow: 10px 10px 5px #888888;
border-radius:25px;
}